spring:
  application:
    name: api-gateway

  config:
    import: "optional:configserver:http://localhost:8888"

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # Automatically creates routes based on Eureka Service IDs
          lower-case-service-id: true
