server:
  port: 8888

spring:
  application:
    name: config-server

  # Enable Native Profile to read from local resources
  profiles:
      active: native

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config