server:
  port: 8080

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
          - id: user-service
            uri: lb://user-service
            predicates:
              - Path=/users/**
          - id: order-service
            uri: lb://order-service
            predicates:
              - Path=/orders/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


